<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303776209465-q66j19l7tvqqr04hqrrk74fn719ame0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303776209465-q66j19l7tvqqr04hqrrk74fn719ame0v</string>
	<key>API_KEY</key>
	<string>AIzaSyDSo4byOm0JPSEvMldN5bzzr-eKHpdW-QQ</string>
	<key>GCM_SENDER_ID</key>
	<string>303776209465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jaha.autoService</string>
	<key>PROJECT_ID</key>
	<string>autoserviceauth</string>
	<key>STORAGE_BUCKET</key>
	<string>autoserviceauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303776209465:ios:c2e9e797286f21a6004be8</string>
</dict>
</plist>